<div class="reference">
    <table>
    	<tr>
            <td class="label"><%= t('Entry date') %></td>
            <td><%= beginDate %></td>
        </tr>
        <tr>
            <td class="label"><%= t('Invoice reference') %></td>
            <td><%= rent.billingReference %></td>
        </tr>
        <tr>
            <td class="label"><%= t('Rental period') %></td>
            <td><%= rent.period %></td>
        </tr>
        <tr>
            <td class="label"><%= t('VAT Identification number') %></td>
            <td><%= landloard.stakeholder.vatNumber %></td>
        </tr>
    </table>
</div>